<!-- Bar for search and filter -->

<div class="filter-bar">
  <div class="show-slider">
    <%= image_tag("filter-slider.svg", class: "slider-icon-black") %>
    <h5>Show Interest Filters</h5>
  </div>
  <div class="hide-slider">
    <%= image_tag("filter-slider-white.svg", class: "slider-icon-white") %>
    <i class="fa fa-arrow-left arrow-left" aria-hidden="true"></i>
  </div>
  <div class="search-container">
<!--     <i class="fa fa-globe white-icon" aria-hidden="true"></i>
    <h5>Enter your location:</h5> -->
    <form name="location" action="/profiles" method="get" id="location-form">
      <input name="location" type="text" id="location-search" placeholder="Rådmandsgade 15, Copenhagen"
      >
      <!-- <input id="" name="filter[interest_ids]" type="hidden" value="<%= @selected_interests %>"> -->
      <input type="submit" value="Search", class="orange-button">
    </form>
    <h5 id="location-value"></h5>
  </div>
</div>

<!-- Content with the slider from left and the cards  -->

<div class="index-flex-box" id="profile-box">

<!-- Filter window with interest cards -->

  <div class="filter-window-wrapper">
    <%= simple_form_for :filter, remote: true, method: "get", html: { id: :apply_interest_filter } do |f| %>
      <input id="location_search" name="location" type="hidden" value="<%= @location %>">
      <input type="hidden" name="filter[interest_ids][]" value="">
      <div class="filter-window">
      <div class="flex-grow">
        <h4>Select your interests</h4>
      </div>
        <% @interests.each do |interest| %>
            <input class="check_boxes required filter-interest-choice hidden" type="checkbox" value="<%= interest.id %>" name="filter[interest_ids][]" id="filter_interest_ids_<%= interest.id %>">
          <label class="filter-interest-choice-style" id="filter_interest__choice-ids_<%= interest.id %>" for="filter_interest_ids_<%= interest.id %>">
            <div class="search-interest-icon-circle">
              <%= image_tag(interest.icon_path, class: "search-interest-icon") %>
            </div>
            <div class="filter-interest-name">
              <%= interest.name %>
            </div>
          </label>
          <% if params.has_key?("filter") %>
            <% if params[:filter][:interest_ids].include? interest.id.to_s %>
               <script>
                  document.getElementById("filter_interest_ids_<%= interest.id %>").checked = true;
                  document.getElementById("filter_interest__choice-ids_<%= interest.id %>").classList.add("active");
              </script>
            <% end %>
          <% end %>
       <% end %>
      </div>
      <%= f.button :submit, class: "hidden" %>
    <% end %>

  </div>

<!-- body with profile cards -->

  <div id="index-body">
    <%= render 'profiles/index', profiles_interest: @profiles_interest %>
  </div>

</div> <!-- Where is this coming from?? -->


<!-- JAVASCRIPT -->

<% content_for(:after_js) do %>
  <script>

  // ------------- SHOW AND HIDE FILTER------------------------
  const sliderHide = document.querySelector(".hide-slider");
  const sliderShow = document.querySelector(".show-slider");
  const filterWindowWrapper = document.querySelector(".filter-window-wrapper");
  const filterWindow = document.querySelector(".filter-window");


    function hideFilterWindow() {
      sliderShow.style.display = "flex";
      sliderHide.style.display= "none";
      filterWindowWrapper.classList.remove("filter-visible");
      filterWindow.classList.remove("filter-visible");
      // setTimeout(function(){ filterWindow.style.display = "none"; }, 150);
    };

    function showFilterWindow() {
      sliderHide.style.display= "flex";
      sliderShow.style.display = "none";
      filterWindowWrapper.classList.add("filter-visible");
      filterWindow.classList.add("filter-visible");
      // setTimeout(function(){ filterWindow.style.display = "block"; }, 200);

    };

    sliderHide.addEventListener("click", hideFilterWindow);
    sliderShow.addEventListener("click", showFilterWindow);

  // ---------------------------GOOGLE MAPS AUTOCOMPLETE-------------------------


  const addressSearch = document.querySelector("#location-search");
  const locationValue = document.querySelector("#location-value");

  function onPlaceChanged() {
    var place = this.getPlace();
    var listAddress = document.getElementById('location-search');
  }
  document.addEventListener("DOMContentLoaded", function() {
    var listAddress = document.getElementById('location-search');
    if (listAddress) {
      var autocomplete = new google.maps.places.Autocomplete(listAddress, { types: ['geocode'] });
      google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
    }
  });

  // --------------------------------FILTER LOGIC --------------------------------

  $(".filter-interest-choice-style").click(function(){
    $(this).toggleClass("active");
  });


  $(".filter-interest-choice").click(function() {
    $("#apply_interest_filter").trigger("submit");
  });

  </script>
<% end %>


