<!-- Bar for search and filter -->

<div class="filter-bar">
  <div class="show-slider">
    <%= image_tag("filter-slider.svg", class: "slider-icon-black") %>
    <h5>Show Filters</h5>
  </div>
  <div class="hide-slider">
    <%= image_tag("filter-slider-white.svg", class: "slider-icon-white") %>
    <i class="fa fa-arrow-left arrow-left" aria-hidden="true"></i>
  </div>
  <div class="search-container">
    <i class="fa fa-globe white-icon" aria-hidden="true"></i>
    <h5>Enter your location:</h5>
    <form name="location" action="/profiles" method="get" id="location-form">
      <input name="location" type="text" id="location-search" placeholder="Rådmandsgade 15, Copenhagen">
      <input type="submit" value="Search">
    </form>
    <h5 id="location-value"></h5>
  </div>
</div>

<!-- Content with the slider from left and the cards  -->

<div class="index-flex-box">

  <div class="filter-window-wrapper">
    <div class="filter-window">
      <% Interest.all.each do |interest| %>
        <p><%= interest.name %></p>
      <% end %>
    </div>
  </div>

  <div class="row" id="profile-cards">
      <% @profiles.each do |profile| %>
        <div class="col-xs-12 col-md-6 col-lg-4">
          <div class="profile-tile">
            <div class="profile-banner" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url(<%= image_path "hogwarts.jpg"%>);" >
            <img class="profile-avatar" src=<%= image_path "harry.jpg"%>>
          </div>
          <div class="profile-content">
            <h3><strong><%= profile.first_name %> <%= profile.last_name %></strong></h3>
            <p id="profile-bio"> <%= profile.bio %> </p>
            <div class="button">
              <p><strong>More Info!</strong></p>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

</div>

<!-- JAVASCRIPT -->

  <script>

// ------------- SHOW AND HIDE FILTER------------------------
const sliderHide = document.querySelector(".hide-slider");
const sliderShow = document.querySelector(".show-slider");
const filterWindowWrapper = document.querySelector(".filter-window-wrapper");
const filterWindow = document.querySelector(".filter-window");


  function hideFilterWindow() {
    sliderShow.style.display = "flex";
    sliderHide.style.display= "none";
    filterWindowWrapper.classList.remove("filter-visible");
    filterWindow.classList.remove("filter-visible");
    // setTimeout(function(){ filterWindow.style.display = "none"; }, 150);
  };

  function showFilterWindow() {
    sliderHide.style.display= "flex";
    sliderShow.style.display = "none";
    filterWindowWrapper.classList.add("filter-visible");
    filterWindow.classList.add("filter-visible");
    // setTimeout(function(){ filterWindow.style.display = "block"; }, 200);

  };

  sliderHide.addEventListener("click", hideFilterWindow);
  sliderShow.addEventListener("click", showFilterWindow);

// ---------------------------GOOGLE MAPS AUTOCOMPLETE-------------------------


const addressSearch = document.querySelector("#location-search");
const locationValue = document.querySelector("#location-value");

function onPlaceChanged() {
  var place = this.getPlace();
  var listAddress = document.getElementById('location-search');
}
document.addEventListener("DOMContentLoaded", function() {
  var listAddress = document.getElementById('location-search');
  if (listAddress) {
    var autocomplete = new google.maps.places.Autocomplete(listAddress, { types: ['geocode'] });
    google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
  }
});

</script>


