<!-- Bar for search and filter -->

<div class="filter-bar">
  <div class="show-slider">
    <%= image_tag("filter-slider.svg", class: "slider-icon-black") %>
    <h5>Show Interest Filters</h5>
  </div>
  <div class="hide-slider">
    <%= image_tag("filter-slider-white.svg", class: "slider-icon-white") %>
    <i class="fa fa-arrow-left arrow-left" aria-hidden="true"></i>
  </div>
  <div class="search-container">
    <i class="fa fa-globe white-icon" aria-hidden="true"></i>
    <h5>Enter your location:</h5>
    <form name="location" action="/profiles" method="get" id="location-form">
      <input name="location" type="text" id="location-search" placeholder="Rådmandsgade 15, Copenhagen">
      <input type="submit" value="Search">
    </form>
    <h5 id="location-value"></h5>
  </div>
</div>

<!-- Content with the slider from left and the cards  -->

<div class="index-flex-box" id="profile-box">

<!-- Filter window with interest cards -->

  <div class="filter-window-wrapper">
    <div class="filter-window">

      <% @interests.each do |interest| %>
        <div class="filter-interest-card">
          <h4><%= interest.name %></h4>
          <div>
            <%= image_tag(interest.icon_path, class: "filter-interest-icon") %>
          </div>
        </div>
      <% end %>

    </div>
  </div>

<!-- body with profile cards -->
<div id="index-body">
  <%= render 'profiles/index', profiles_interest: @profiles_interest %>
</div>

</div>

<%= simple_form_for :filter, remote: true , method: "post" do |f| %>
        <input id="location_search" name="location" type="hidden" value="<%= @location %>">
        <%= f.input :interest_ids, collection: @interests, as: :check_boxes %>
        <%= f.button :submit %>
<% end %>


<!-- JAVASCRIPT -->

  <script>

// ------------- SHOW AND HIDE FILTER------------------------
const sliderHide = document.querySelector(".hide-slider");
const sliderShow = document.querySelector(".show-slider");
const filterWindowWrapper = document.querySelector(".filter-window-wrapper");
const filterWindow = document.querySelector(".filter-window");


  function hideFilterWindow() {
    sliderShow.style.display = "flex";
    sliderHide.style.display= "none";
    filterWindowWrapper.classList.remove("filter-visible");
    filterWindow.classList.remove("filter-visible");
    // setTimeout(function(){ filterWindow.style.display = "none"; }, 150);
  };

  function showFilterWindow() {
    sliderHide.style.display= "flex";
    sliderShow.style.display = "none";
    filterWindowWrapper.classList.add("filter-visible");
    filterWindow.classList.add("filter-visible");
    // setTimeout(function(){ filterWindow.style.display = "block"; }, 200);

  };

  sliderHide.addEventListener("click", hideFilterWindow);
  sliderShow.addEventListener("click", showFilterWindow);

// ---------------------------GOOGLE MAPS AUTOCOMPLETE-------------------------


const addressSearch = document.querySelector("#location-search");
const locationValue = document.querySelector("#location-value");

function onPlaceChanged() {
  var place = this.getPlace();
  var listAddress = document.getElementById('location-search');
}
document.addEventListener("DOMContentLoaded", function() {
  var listAddress = document.getElementById('location-search');
  if (listAddress) {
    var autocomplete = new google.maps.places.Autocomplete(listAddress, { types: ['geocode'] });
    google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
  }
});

// --------------------------------FILTER LOGIC --------------------------------

</script>


