<div class="userprofile">

<div class="userprofile-profile-box">

  <div class="userprofile-avatar">
    <% if @profile.profile_picture %>
                <% avatar_url = @profile.profile_picture.path %>
            <% else %>
                <% avatar_url = "face_dsncrt.jpg"  %>
            <% end %>
    <%= cl_image_tag avatar_url, class: "avatar-XXlarge", style: "box-shadow: 0 0 9px rgba(0,0,0,0.6);", :transformation=>[
                    {:width=>280, :height=>280, :crop=>"fill"}] %>
  </div>

  <div class="userprofile-interests">
    <h2><%= "#{@profile.first_name} #{@profile.last_name}" %></h2>

    <div class="row">
        <% @profile.user_interests.each do |interest| %>
          <div class="col-xs-4">
            <% interest_card = Interest.find(interest.interest_id) %>
              <div class="userprofile-interest">
                <%= image_tag(interest_card.icon_path, class: "userprofile-interest_icon") %>
                <%= interest_card.name %>
              </div>
            </div>
        <% end %>
    </div>
  </div>

</div>

<div class="userprofile-button">
    <% if  @friend_request %>
      <h3 class="orange-text">Friend request pending</h3>
    <% else %>
      <div class="orange-button-request">
        <%= link_to(new_profile_friend_request_path(@profile))  do %>
          <h3>Contact <%= @profile.first_name %></h3>
        <% end %>
      </div>
    <% end %>
  </div>

<div class="userprofile-information">
  <div class="userprofile-bio">
    <h4>My biography</h4>
    <%=  @profile.bio %>
  </div>

  <div class="userprofile-motivation">
    <h4>My motivation</h4>
    <%=  @profile.motivation %>
  </div>
</div>

</div>

