<div class="cake-testimonial-card">
  <div class="cake-testimonial-body-image">
    <img class="cake-better-home-avatar" src=<%= image_path "oldie.jpg"%>>
  </div>
  <div class="cake-testimonial-content">
    <h1>Make a friend for life.</h1>
    <%= link_to "Get started", "#", class: "generic_button login_button" %>
  </div>
</div>

<!-- WHAT MEMBERS ARE SAYING -->

<div class="testimonials-wrapper">

  <h4>What our members are saying</h4>

  <div class="container-fluid">

    <!-- ROW 1 -->

    <div class="row">

     <div class="col-md-6">
      <div class="testimonial-card">
        <div class="testimonial-body-image">
          <img class="better-home-avatar" src=<%= image_path "madeline.jpg"%>>
        </div>
        <div class="testimonial-content">
          <p>"Ines is 40 years older than me and she is my best friend. Through Ines, I have learned the art of creating joy for one’s self. "</p>
          <p>- <strong>Madeline</strong>, Nørrebro</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="testimonial-card">
        <div class="testimonial-body-image">
          <img class="better-home-avatar" src=<%= image_path "peter.jpg"%>>
        </div>
        <div class="testimonial-content">
          <p>"I am not much of a talker and spending time with Oliver has been a great pleasure; he’s a sweet lad.”</p>
          <p>- <strong>Peter</strong>, Hellerup</p>
        </div>
      </div>
    </div>

    <!-- ROW 2 -->

    <div class="col-md-6">
      <div class="testimonial-card">
        <div class="testimonial-body-image">
          <img class="better-home-avatar" src=<%= image_path "cj.jpg"%>>
        </div>
        <div class="testimonial-content">
          <p>"I love Amikeco! Choosing to sign up was one of the best decisions of my life"</p>
          <p>- <strong>Christopher</strong>, Frederiksberg</p>
        </div>
      </div>
    </div>

    <div class="col-md-6">
      <div class="testimonial-card">
        <div class="testimonial-body-image">
          <img class="better-home-avatar" src=<%= image_path "ingrid.jpg"%>>
        </div>
        <div class="testimonial-content">
          <p>"Although Katrina is only 26, she is easy to open up to because she takes everything in, and doesn't offer solutions, which is perfect as I have been longing for an empathic ear."</p>
          <p>- <strong>Ilsa</strong>
          , Holte</p>
        </div>
      </div>
    </div>

  </div>
</div>
</div>

<!-- THE SCIENCE IS IN -->

<div class="the-science-is-in-section">
  <h1>The science is in</h1>
  <p>Having friends helps people live longer </p>
  <p>Social activites play a critical role in preserving physical and mental health</p>
  <p>Having friends helps people live longer </p>
  <p>Social activites play a critical role in preserving physical and mental health</p>
  <p>Having friends helps people live longer </p>
  <p>Social activites play a critical role in preserving physical and mental health</p>
</div>

<!-- WHAT IS AMIKECO -->

<div class="what-is-amikeco-sample-card">
  <h1>What is Amikeco?</h1>
  <p>
    Harry and Hagrid, Marty and Doc, Daniel and Mr. Miyagi... What do all these people have in common? They all understand that age is just a number and quality friendships are based on more than just the age on your birth certificate. Amikeco is a website that connects people from the community with shared interests whose paths might never have crossed.
  </p>
</div>

<!-- TEST TEST TEST TEST -->

<div class="cake-testimonial-cards">
  <div class="cake-testimonial-body-images">
    <img class="cake-better-home-avatars" src=<%= image_path "oldie.jpg"%>>
  </div>
  <div class="cake-testimonial-contents">
     <p>
    Harry and Hagrid, Marty and Doc, Daniel and Mr. Miyagi... What do all these people have in common? They all understand that age is just a number and quality friendships are based on more than just the age on your birth certificate. Amikeco is a website that connects people from the community with shared interests whose paths might never have crossed.
  </p>
  </div>
</div>







