<!-- MAKE A FRIEND FOR LIFE -->

<div class="home-banner" style="background-image: linear-gradient(-1000deg, rgba(252,74,26,0.3) 25%, rgba(247,183,51,0.3) 75%), url('<%= image_path "owl2.jpg" %>');">
  <div class="home-banner-content">
    <h1><strong>Make a friend for life.</strong></h1>
    <%= link_to "Get started", "#", class: "generic_button get_started_button" %>
  </div>
</div>

<!-- WHAT IS AMIKECO -->

<div class="what-is-amikeco-container">
  <div class="what-is-amikeco-content">
   <h1><strong>What is Amikeco?</strong></h1>
   <p>
    Harry and Hagrid, Marty and Doc, Daniel and Mr. Miyagi... What do all these people have in common? They all understand that age is just a number and quality friendships are based on more than just the age on your birth certificate. Amikeco is a service that connects people from the community with shared interests whose paths might never have crossed.
  </p>
</div>
<div class="what-is-amikeco-image-container">
  <img class="what-is-amikeco-avatar" src=<%= image_path "friends.png"%>>
</div>
</div>

<!-- THE SCIENCE IS IN -->

<div class="science-is-in-container">
  <div class="science-is-in-image-container">
    <img class="science-is-in-avatar" src=<%= image_path "science.png"%>>
  </div>
  <div class="science-is-in-content">
   <h1><strong>The science is in!</strong></h1>

<ul class="bridge list-unstyled">
   <li>Having friends helps people live longer </li>
   <li>Social activites play a critical role in preserving physical and mental health</li>
   <li>Mature friends tell it like it is and younger pals pep you up</li>
   <li>Intergenerational friendships are based on who you are, not where you’re at.</li>
 </ul>


 </div>
</div>

<!-- WHAT MEMBERS ARE SAYING -->

<div class="testimonial-container">
  <h4><strong>What our members are saying</strong></h4>
  <div class="container-fluid">
    <!-- ROW 1 -->
    <div class="row">
     <div class="col-md-6">
      <div class="testimonial-card">
        <div class="testimonial-image-container">
          <img class="testimonial-avatar" src=<%= image_path "madeline.jpg"%>>
        </div>
        <div class="testimonial-content">
          <p>"Ines is 40 years older than me and she is my best friend. Through Ines, I have learned the art of creating joy for one’s self. "</p>
          <p>- <strong>Madeline</strong>, St. Georg</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="testimonial-card">
        <div class="testimonial-image-container">
          <img class="testimonial-avatar" src=<%= image_path "peter.jpg"%>>
        </div>
        <div class="testimonial-content">
          <p>"I am not much of a talker and spending time with Oliver has been a great pleasure; he’s a sweet lad.”</p>
          <p>- <strong>Peter</strong>, Hellerup</p>
        </div>
      </div>
    </div>
    <!-- ROW 2 -->
    <div class="col-md-6">
      <div class="testimonial-card">
        <div class="testimonial-image-container">
          <img class="testimonial-avatar" src=<%= image_path "cj.jpg"%>>
        </div>
        <div class="testimonial-content">
          <p>"I love Amikeco! Choosing to sign up was one of the best decisions of my life"</p>
          <p>- <strong>Christopher</strong>, Frederiksberg</p>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="testimonial-card">
        <div class="testimonial-image-container">
          <img class="testimonial-avatar" src=<%= image_path "ingrid.jpg"%>>
        </div>
        <div class="testimonial-content">
          <p>"Although Katrina is only 26, she is easy to open up to because she takes everything in, and doesn't offer solutions, which is perfect for me."</p>
          <p>- <strong>Ilsa</strong>
          , Neustadt</p>
        </div>
      </div>
    </div>
  </div>
</div>
</div>









