<div class="search-page-container">
    <div class="search-box">
      <h3 id="interest-headline"> Choose your location</h3>
      <i class="fa fa-globe world-icon" aria-hidden="true"></i>
    </div>
    <%= simple_form_for :search, url: profiles_path, method: "get" do |f| %>
          <div class="form-group">
            <input class="form-control string required" type="text" name="location" id="location-search-box" placeholder="Try 'Copenhagen'">
          </div>
          <h3 id="interest-headline"> I'm interested in...</h3>
          <div class="form-group">
            <input type="hidden" name="filter[interest_ids][]" value="">
            <div class="search-interest-choices">
              <% Interest.all.each do |interest| %>
                <input type="checkbox" class="hidden"  value="<%= interest.id %>" name="filter[interest_ids][]"
                id="filter_interest_ids_<%= interest.id %>">
                <label class="search-interest-choice" for="filter_interest_ids_<%= interest.id %>">
                  <div class="search-interest-icon-circle">
                  <%= image_tag(interest.icon_path, class: "search-interest-icon") %>
                  </div>
                  <span class="search-interest-name">
                  <%= interest.name %>
                </span>
                </label>
              <% end %>
            </div>
          </div>
          <%= f.button :submit, class: "btn orange-button search-button", value: "Find a friend" %>
    <% end %>
</div>

<% content_for(:after_js) do %>
  <script type="text/javascript">
      $(".search-interest-choice").click(function(){
        $(this).toggleClass("active");
      });

      function onPlaceChanged() {
        var place = this.getPlace();
        var location = document.getElementById('location-search-box');
      }

      document.addEventListener("DOMContentLoaded", function() {
        var location = document.getElementById('location-search-box');

        if (location) {
          var autocomplete = new google.maps.places.Autocomplete(location, { types: ['geocode'] });
          google.maps.event.addListener(autocomplete, 'place_changed', onPlaceChanged);
          google.maps.event.addDomListener(location, 'keydown', function(e) {
            if (e.key === "Enter") {
              e.preventDefault(); // Do not submit the form on Enter.
            }
          });
        }
      });
  </script>
<% end %>
