<div class="dashboard">


<div class="dashboard-profile-box">

  <div class="dashboard-profile_avatar">
    <% if current_user.profile_picture %>
                <% avatar_url = current_user.profile_picture.path %>
            <% else %>
                <% avatar_url = "batman_sniu4h.jpg"  %>
            <% end %>
    <%= cl_image_tag avatar_url, class: "avatar-Xlarge dashboard-profile-img", style: "box-shadow: 0 0 9px rgba(0,0,0,0.6);", :transformation=>[{:width=>200, :height=>200, :crop=>"fill"}] %>
  </div>

  <div class="dashboard-profile_info">
    <h2>  <%= "#{current_user.first_name} #{current_user.last_name}" %></h2>
    <h4> <%= "Address:"%></h4>
    <p> <%= "#{current_user.location}" %></p>
    <h4> <%= "Phone number:" %></h4>
    <p><%= "#{current_user.phone_number}" %></p>
  </div>

  <div class="dashboard-interests">
        <% current_user.user_interests.each do |interest| %>
            <% interest_card = Interest.find(interest.interest_id) %>
              <div class="dashboard-interest">
                <%= image_tag(interest_card.icon_path, class: "dashboard-interest_icon") %>
                  <p><%= interest_card.name %></p>
              </div>
        <% end %>
  </div>

  <div class="dashboard-edit">
    <%= link_to edit_profile_path(current_user) do %>
      <i class="fa fa-pencil-square-o dashboard-edit-icon" aria-hidden="true"></i>
    <% end %>
  </div>
</div>


<div class="userprofile-information">
  <div class="padding-left">
    <h4>My friend requests:</h4>
  </div>
    <% current_user.friend_requests_as_young_user.each do |fr| %>
    <% old_user = User.find(fr.old_user_id) %>
    <div class="dashboard-friendrequest">
      <%= link_to(profile_path(old_user)) do %>
          <%= cl_image_tag "superman_zdlddt.jpg", class: "avatar-medium", transformation: [
                      {width: 50, height: 50, crop: "fill"}]  %>
<!--         <% if old_user.profile_picture? %>
        <% else %>
          <img class="avatar-medium" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
        <% end %> -->
      <% end %>
      <%= link_to(profile_path(old_user)) do %>
        <div class="dashboard-friendrequest-name">
            <h3><%= "#{old_user.first_name} #{old_user.last_name}" %></h3>
        </div>
      <% end %>
      <div class="dashboard-friendrequest-body">
          <p>
            <%= fr.request_message %>
          </p>
        </div>
        <div class="dashboard-friendrequest-status">
          <p class="status <%=fr.status%>"><%= fr.status %></p>
        </div>
    </div>
    <% end %>

  </div>


  <div class="userprofile-information">
    <div class="dashboard-bio">
      <div class="flex-box-space-between">
        <h4>My biography:</h4>
        <%= link_to edit_profile_path(current_user) do %>
          <i class="fa fa-pencil-square-o dashboard-edit-icon" aria-hidden="true"></i>
        <% end %>
      </div>
      <%=  current_user.bio %>
    </div>

    <div class="dashboard-motivation">
      <h4>My motivation:</h4>
      <%=  current_user.motivation %>
    </div>
  </div>
</div>

