<%= cl_image_tag current_user.background_picture.path,crop: :fill, class: "background-image w-100" %>


<div class="dashboard-profile-box">

  <div class="dashboard-profile_avatar">
    <%= cl_image_tag current_user.profile_picture.path, class: "rounded-circle dashboard-profile-img" %>
  </div>

  <div class="dashboard-profile_info">
    <%= "#{current_user.first_name} #{current_user.last_name}" %>
    <%= "Address:" %>
    <%= "#{current_user.location}" %>
    <%= "Phone number:" %>
    <%= "#{current_user.location}" %>
  </div>

  <div class="dashboard-interests">
      <% current_user.user_interests.each do |interest| %>
          <% interest_card = Interest.find(interest.interest_id) %>
            <%= interest_card.name %>
      <% end %>
  </div>

</div>




<!--
<div class="dashboard-bio">
  <%=  current_user.bio %>

</div>


<div class="dashboard-motivation">
  <%=  current_user.motivation %>
</div> -->
