<div class="confirmation-main-body-container">
<div class="confirmation-page-container">
  <div class="congratulation-message text-center">
    <h1><%= "Congratulations #{current_user.first_name}!" %></h1>
    <h1>You are one step closer to making a friend for life!</h1>
  </div>

  <div class="message-wrapper">
    <div class="message-box">

        <div class="confirmation-checkbox" id="confirmation-checked">
          <i class="fa fa-check check-mark" aria-hidden="true"></i>
        </div>

        <div class="confirmation-message">
        <p> <%= "1. Send introduction message to #{@friend_request.old_user.first_name}" %></p>

        </div>
    </div>

    <div class="message-box">
        <div class="confirmation-checkbox"></div>
        <div class="confirmation-message">
        <p> <%= "2. Wait to hear back from #{@friend_request.old_user.first_name}"  %>
        </p>
         </div>
    </div>

    <div class="message-box">
        <div class="confirmation-checkbox"></div>
        <div class="confirmation-message">
          <p> <%= "3. Plan a fun first meeting! "  %>  </p>
          <p></p>
        </div>
    </div>
  </div>

  <div class="friend-request-box">
    <div class="dashboard-friendrequest">
    <% if @friend_request.old_user.profile_picture? %>
      <%= cl_image_tag @friend_request.old_user.profile_picture.path, class: "avatar-medium", transformation: [
                        {width: 50, height: 50, crop: "fill"}]  %>
    <% else %>
      <img class="avatar-medium" src="https://kitt.lewagon.com/placeholder/users/gabriel-dehan">
    <% end %>
    <div class="dashboard-friendrequest-name">
        <h3 id="friend-name"><%= "#{@friend_request.old_user.first_name} #{@friend_request.old_user.last_name}" %></h3>
    </div>
    <div class="dashboard-friendrequest-body">
        <p>
          <%= @friend_request.request_message[0..120] + "..." %>
        </p>
      </div>
      <div class="dashboard-friendrequest-status">
        <p class="status <%=@friend_request.status%>" id="pending-size"><%= @friend_request.status %></p>
      </div>
    </div>
  </div>

  <div class="confirmation-button-box">
    <%= link_to "Go to my profile", dashboards_path, class: "btn action-button confirmation-buttons" %>
    <%= link_to "Continue searching for friends", profiles_path, class: "btn action-button confirmation-buttons" %>
  </div>
</div>
</div>
